<h1>Hobbies</h1>

<div class="container">
  
  <p></p>            
  <table class="table">
    <thead>
      <tr>
        <th>What I do?</th>
        <th>How often I do it?</th>
      
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>Video Games</td>
        <td>Quite Often</td>
     
      </tr>
      <tr class="danger">
        <td>Hanging out with friends</td>
        <td>More than usual</td>
       
      </tr>
      <tr class="info">
        <td>Reading</td>
        <td>Not a lot</td>
       
      </tr>
    </tbody>
  </table>
</div>