<h1>Main</h1>
<div class="container">
  
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Click Me!!</button>
  <div id="demo" class="collapse">
    This website was made my Areeb Khan. 
  </div>
</div>
 
    <div class="row">
      <div class="col-md-6"> 
        <h2>Mather High School</h2>
           <h3>Mather High is a Chicago Public School. It is great school with excellent teachers. This school 
           provides many oppurtunities for it's highschool kids, many houses and activities. moreover many sports
           teams aswell. </h3>
      </div>
      <div class="col-md-6"> 
        <h2>Web Design 1</h2>
        <h3>The school offers a class of web design 1. I am a part of this clas. This is a great class for people 
        who love computers and coding etc. </h3>
        <h3><a href="http://matherhs.org/apps/pages/index.jsp?uREC_ID=259639&type=d">Mather IT Academy</a></h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <img src="https://assets.dnainfo.com/generated/chicago_photo/2013/01/mather-high-school-1358888687.JPG/larger.jpg"/>
           
      </div> 
      <div class="col-md-6"> 
        <img src="http://www.syncoms.co.uk/assets/Fotolia_53721076_Subscription_XXL.jpg" width="350"/>

      </div>
    </div>  
  </div>  
  <p></p>
  
