

    <div class="row">
      <div class="col-md-8"> 
        <div class="container">
  <div class="jumbotron">
    <h1>Sports</h1>      
    <p>Sports is an important part of my life, it keeps me active and makes me who I am. </p>
  </div>
      
</div>
     
    
    <div class="row">
      <div class="col-md-6">
    
        <div class="container">
  <h2>My Sport Activities</h2>
              
  <table class="table">
    <thead>
      <tr>
        <th>Sports</th>
        <th>Where?</th>
        <th>Why?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Soccer</td>
        <td>Warren Park</td>
        <td>Because I love Soccer</td>
      </tr>
      <tr>
        <td>Cricket</td>
        <td>Clinton</td>
        <td>I used to play back in my country and i miss it here.</td>
      </tr>
      <tr>
        <td>Basketball</td>
        <td>Green Barrier Park</td>
        <td>It's fun playing with friends</td>
      </tr>
      <tr>
        <td>Soccer</td>
        <td>Warren Park</td>
        <td>Because I love Soccer</td>
      </tr>
      <tr>
        <td>Volleyball</td>
        <td>Loyola Park</td>
        <td>I am good at it . </td>
      </tr>
      <tr>
        <td>Water Polo</td>
        <td>ather High </td>
        <td>I love swimming and all sports related to it</td>
      </tr>
    
    </tbody>
  </table>
</div>   
      </div> 
      <div class="col-md-6"> 
        

      </div>
    </div>  
  </div>  